<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="material/material.min.css">
        <script src="material/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" type="text/css" href="css/custom.css" />
        <link rel="stylesheet" href="css/leaflet.css"  crossorigin=""/>
        <script src="js/leaflet.js" crossorigin=""></script>
        <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.min.css" />
        {% block head %}
            <title>{% block title %}{% endblock %} - VOI</title>
        {% endblock %}
        <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
	    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/pdfmake.min.js"></script>
        <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="js/buttons.html5.min.js"></script>
        <script type="text/javascript" src="js/buttons.print.min.js"></script>
        <script type="text/javascript" src="js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="js/jszip.min.js"></script>
        <script type="text/javascript" src="js/buttons.html5.min.js"></script>        
        <script type="text/javascript" src="js/vfs_fonts.js"></script>

    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2021 by <a href="#">Ainasafidy Roberto</a>.
            {% endblock %}
        </div>
    </body>
    <script src="socket.io/socket.io.js"></script>
    <script>
 
    </script>
</html>