{% extends "./layout/base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% for meal in meals %}
        <li>{{ meal.name }} price : {{ meal.price }}</li>
    {% endfor %}
{% endblock %}